body{
  background: url(giphy.webp);
  background-repeat: no-repeat;
  backdrop-filter:unset;
  height: auto;
  width: 100%;
  background-size: cover;
}
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8)50%,rgba(219, 255, 239, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    position: absolute;
    top: 125px;
    left: 200px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
    display: block;
  }

  .form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ecfff4;
    font-size: 22px;
    background-color: #095f43;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
  }
  
  .form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #98f5bc;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #060606;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
  }
  
  .form input:focus {
    outline: none;
  }
  
  ::placeholder {
    color: #6f6f6f;
    font-family: Arial;
  }
  
  .btnn {
    width: 240px;
    height: 40px;
    background: #5ce791;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
  }
  .btnn:hover {
    background: #fff;
    color: #5ce791;
  }
  .btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 0px;
    text-align: center;
    color: #530202;
  }
  .form .link a {
    text-decoration: none;
    color: #436850;
  }
  .liw {
    padding-top: px;
    padding-bottom: 10px;
    text-align: center;
    color: #060606;
  }
  .icons a {
    text-decoration: none;
    color: #fff;
  }
  .icons i {
    color: #03180b;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
  }
  .icons i:hover {
    color: #03ff03;
  }